/* Стиль заголовка */
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  
  /* Содержимое страницы */
  .content {
    padding: 16px;
  }
  
  /* Класс "sticky" добавляется в заголовок с помощью JS, когда он достигает своей прокрутки позиция */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Добавить некоторые верхние отступы к содержимому страницы для предотвращения внезапного быстрого перемещения (поскольку заголовок получает новую позицию в верхней части страницы (позиция: фиксированная и верхняя: 0 */
  .sticky + .content {
    padding-top: 102px;
  }